@using DiscordSelfUI.Data
@model UserMessageModel

@{
    ViewBag.Title = "Message User";
}

<input type="hidden" value="@Model.Id" id="modelId" />
<input type="hidden" value="@Model.MaxMessageLength" id="maxLength" />

<div class="container mt-5">
    <h2>Message User</h2>

    <form id="messageForm">
        <div id="messageLengthAlert" style="display: none;" class="form-group mt-3">
            <div class="alert alert-warning">This message will be sent as a text file due to the length of the message being over @Model.MaxMessageLength characters.</div>
        </div>

        <div id="errorAlertContainer" style="display: none;" class="form-group mt-3">
            <div id="errorAlert" class="alert alert-danger">An error occured sending the message, please try again.</div>
        </div>

        <div class="form-group mt-3">
            <textarea class="form-control" id="message" name="message" placeholder="Type your message here..."></textarea>
        </div>

        <div class="float-end">
            <div class="flex-lg-row mt-3 mb-3">
                <label for="ttsCheckbox">Text-to-Speech</label>
                <input id="ttsCheckbox" type="checkbox" class="form-check-input" />
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Send</button>
                    <button type="button" class="btn btn-secondary" id="clearButton">Clear</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/messageUser.js"></script>
}